/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

pre .str, code .str {
    color: #65B042;
}

/* string  - green */
pre .kwd, code .kwd {
    color: #E28964;
}

/* keyword - dark pink */
pre .com, code .com {
    color: #AEAEAE;
    font-style: italic;
}

/* comment - gray */
pre .typ, code .typ {
    color: #89bdff;
}

/* type - light blue */
pre .lit, code .lit {
    color: #3387CC;
}

/* literal - blue */
pre .pun, code .pun {
    color: #fff;
}

/* punctuation - white */
pre .pln, code .pln {
    color: #fff;
}

/* plaintext - white */
pre .tag, code .tag {
    color: #89bdff;
}

/* html/xml tag    - light blue */
pre .atn, code .atn {
    color: #bdb76b;
}

/* html/xml attribute name  - khaki */
pre .atv, code .atv {
    color: #65B042;
}

/* html/xml attribute value - green */
pre .dec, code .dec {
    color: #3387CC;
}

/* decimal - blue */
pre.prettyprint, code.prettyprint {
    background-color: #000;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

pre.prettyprint {
    padding: 1em 0.5em !important;
    white-space: pre-wrap;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #AEAEAE;
}

/* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: none;
}

/* Alternate shading for lines */
@media print {
    pre .str, code .str {
        color: #060;
    }

    pre .kwd, code .kwd {
        color: #006;
        font-weight: bold;
    }

    pre .com, code .com {
        color: #600;
        font-style: italic;
    }

    pre .typ, code .typ {
        color: #404;
        font-weight: bold;
    }

    pre .lit, code .lit {
        color: #044;
    }

    pre .pun, code .pun {
        color: #440;
    }

    pre .pln, code .pln {
        color: #000;
    }

    pre .tag, code .tag {
        color: #006;
        font-weight: bold;
    }

    pre .atn, code .atn {
        color: #404;
    }

    pre .atv, code .atv {
        color: #060;
    }
}
ol {
    counter-reset: li;
    /* Initiate a counter */
    list-style: none;
    /* Remove default numbering */
    *list-style: decimal;
    /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.rectangle-list .instructions {
    position: relative;
    display: block;
    padding-left: 1.2em;
    margin: .5em 0 .5em 3em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    height: 3em;
    line-height: 3em;
    transition: all .3s ease-out;
}

.rectangle-list .instructions:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -3.5em;
    top: 50%;
    margin-top: -1.5em;
    color: white;
    background: #65b042;
    height: 3em;
    width: 3em;
    line-height: 3em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list .current:after {
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
}

.rectangle-list .current:after {
    left: -.5em;
    border-left-color: #65b042;
}

.current > .nextstep {
    display: inline-block;
    padding: 0 1em;
    background: #65b042;
    color: white;
    font-weight: bold;
    text-decoration: none;
    float: right;
}

.nextstep {
    display: none;
}

.current > .nextstep:hover {
    background: #508b34;
    transition: all .3s ease-out;
}

.current > .nextstep {
    background: #65b042;
}
